@*<div class="card-footer">*@
    <section class="align-self-start">
    </section>
    <section class="align-self-end">
        @*<button id="btnLimparFiltro" class="btn btn-link botao-filtro">Limpar</button>*@
        <button id="btnPesquisarFiltro" class="btn btn-warning botao-filtro ripple botao-filtro" onclick="javascript: pesquisar();">Pesquisar</button>
        @*<button id="btnIncluir" class="btn btn-warning botao-filtro" onclick="javascript: cadastrar();">Incluir</button>*@
    </section>
@*</div>*@