@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/linha-tempo.css" rel="stylesheet" />
<style type="text/css">
    .greenbtn {
        background: #00BCD4;
        color: #fff;
        font-weight: bold;
        font-size: 9pt;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 10px 0px;
        width: 50%;
        border: 0px;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    }
</style>
<div id="divFiltro" class="card">
    <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
            <i class="material-icons">filter_list</i>
        </div>
        <h4 class="card-title header-icons">Filtro</h4>
    </div>

    <div class="card-body">
        <div class="form-row">
            <div class="col-md-3">
                <label for="ddlTipoOcorrenciaFiltro">UF</label>
                @Html.DropDownList("ddlUf", new SelectList(@ViewBag.Ufs, "Value", "Text"), "Selecione a UF", new { @class = "form-control seleciona" })
            </div>
            <div class="col-md-2 ml-5">
                <button id="btnPesquisarFiltro" class="btn btn-warning botao-filtro ripple botao-filtro" onclick="javascript: pesquisar();">Pesquisar</button>
            </div>
        </div>
    </div>
</div>

<div id="pnlConteudo" class="pt-3 d-none">
    <span id="divGrid"></span>
</div>

@section scripts{

    <script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
    <script type="text/javascript">
        var mostrarGrid = false;
        var acao = '';
        var marker = [];
        var markerViaturas = [];
        var rota01;
        var rota02;
        var rota03;
        var viaturaMaisProxima = null;
        var formularioOcorrencia;
        var latitudeOcorrencia;
        var longitudeOcorrencia;

        $(document).ready(function () {
            pesquisar = function () {
                acao = 'pesquisar';

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Pesquisar")',
                    data: {
                        id: $('#ddlUf').val(),
                     },
                    success: function (dados) {
                        $('#divGrid').html(dados);
                        $('#tblRelatorio').DataTable({
                            "sPaginationType": "full_numbers",
                            "iDisplayLength": 10,
                            "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                            "bDestroy": true,
                            "stateSave": false,
                            "order": [[1, "desc"]],
                            sDom: 'lrtip'
                        });

                        $("#pnlConteudo").removeClass("d-none");

                        mostrarGrid = true;
                    },
                    error: function () {
                        $.notifyError('Ocorreu um erro ao realizar a pesquisa.');
                        return;
                    }
                });
            };

            pesquisar();
        });

    </script>

}
