*, *:before, *:after {
    box-sizing: border-box;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.modal-upload {
    width: 300px;
    margin: 0 auto;
    background: #fff;
}

#mediaFile {
    position: absolute;
    top: -1000px;
}

#mediaFile2 {
    position: absolute;
    top: -1000px;
}

#profile {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    background: #f4f4f4;
    display: table;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.35);
    /*top: -50px;*/
}

    #profile .dashes {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        opacity: 1;
    }

    #profile label {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0 30px;
        color: grey;
        opacity: 1;
    }

    #profile.dragging {
        background-image: none !important;
    }

        #profile.dragging .dashes {
            -webkit-animation-duration: 10s;
            animation-duration: 10s;
            -webkit-animation-name: spin;
            animation-name: spin;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            opacity: 1 !important;
        }

        #profile.dragging label {
            opacity: 0.5 !important;
        }

    #profile.hasImage .dashes, #profile.hasImage label {
        opacity: 0;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


#profile2 {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    background: #f4f4f4;
    display: table;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.35);
    /*top: -50px;*/
}

    #profile2 .dashes {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        opacity: 1;
    }

    #profile2 label {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0 30px;
        color: grey;
        opacity: 1;
    }

    #profile2.dragging {
        background-image: none !important;
    }

        #profile2.dragging .dashes {
            -webkit-animation-duration: 10s;
            animation-duration: 10s;
            -webkit-animation-name: spin;
            animation-name: spin;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            opacity: 1 !important;
        }

        #profile2.dragging label {
            opacity: 0.5 !important;
        }

    #profile2.hasImage .dashes, #profile2.hasImage label {
        opacity: 0;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
