<div class="modal" id="_modal" role="dialog" aaria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div id="_modal_dialog" class="modal-dialog mt-3">
        <div class="modal-content">
            <div class="card-header text-white text-center bg-azul text-uppercase">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title font-weight-bold" id="_modal_title"></h5>
            </div>
            <div class="modal-body" id="_modal_body"></div>
            <div class="modal-footer" id="_modal_footer">
                <button id="btnFecharModal" type="button" class="btn btn-link botao-filtro" data-dismiss="modal">Fechar</button>
                <button id="btnLimparModal" type="button" class="btn btn-danger ripple botao-filtro ml-3 d-none">Limpar</button>
                <button id="btnGravarModal" type="submit" class="btn btn-warning ripple botao-filtro ml-3">Salvar</button>
            </div>
        </div>
    </div>
</div>
