@{ Layout = null; }

<div class="modal" id="_modal_liberacao" role="dialog" aaria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div id="_modal_dialog_liberacao" class="modal-dialog modal-bol-lg mt-3">
        <div class="modal-content">
            <div class="card-header text-white text-center bg-success text-uppercase">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title font-weight-bold" id="_modal_title">SOLICITAÇÕES PENDENTES - TROCA DE AUXLIAR</h5>
            </div>
            <div class="modal-body" id="_modal_body_liberacao">
            </div>
            <div class="modal-footer d-flex justify-content-center" id="_modal_footer_liberacao">
                <button id="btnReprovado" type="button" class="btn btn-danger botao-filtro ml-3">Reprovado</button>
                <button id="btnAprovado" type="button" class="btn btn-warning botao-filtro ml-3">Aprovado</button>
            </div>
        </div>
    </div>
</div>